<div class="container edit_user_form">
  <div class="row">
    <div class="row-sm-4 formed">
        <%= form_for @user do |f| %> <i class="fas fa-user-lock fa-7x locklogo"></i><br><br>
        <p class="formEditBody">
          <i class="far fa-user-circle textEditUser"></i> my <%= f.label :first_name %><br />
          <%= f.text_field :first_name,class: 'formfield formFieldEditUser' %>
        </p>
        <p>
          <i class="fas fa-users textEditUser"></i> my <%= f.label :last_name %><br />
          <%= f.text_field :last_name, class: 'formfield formFieldEditUser' %>
        </p>
        <p>
          <i class="fas fa-bed textEditUser"></i> my <%= f.label :address %><br />
          <%= f.text_area :address, class: 'formfield formFieldEditUser' %>
        </p>
        <div class="buttonEditUser">
          <%= f.submit %>
        </div>
        <% end %>
    </div>
      <div class="row -sm-4 EditUserPres">
     <h1>Bienvenue<span class='currentUserMail'><br>  <%= current_user.email %> </span></h1>
     <%= image_tag 'notebook.jpg'%>

      </div>
  </div>
</div>