<p id="notice"><%= notice %></p>

<h1>Carts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"> Titre </th>
    </tr>
  </thead>

  <tbody>
    <% @carts_user.each do |cart| %>
      <tr>
        <td><%= cart.activity.title %></td>
        <td><%= link_to 'Show', activity_path(cart.activity.id) %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= @amount %>$</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount= <%= @amount*100 %>
          data-locale="auto"></script>
<% end %>

<%=link_to 'Proceed to checkout', orders_path, method: :post %>

<br>